.container {
    width: 1300px;
    height: auto;
}

h2 {
    color: #333;
}



.col-form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 20px;
}

.table {
    width: 100%;
    border-collapse: separate;
}

/* Padding and text alignment for table headers and cells */
.table th,
.table td {
    padding: 10px;
    text-align: center;
    background-color: transparent;
}

/* Background color and text color for table headers */
.table th {
    background-color: #007bff;
    color: #fff;
}

/* Striped background for odd rows in tables */
.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Padding and border radius for buttons */
.btn {
    padding: 8px 16px;
    border-radius: 20px;
}

/* Primary button style */
.btn-primary {
    background-color: #007bff;
    color: #fff;
}

/* Warning button style */
.btn-warning {
    background-color: #ffc107;
    color: #fff;
    /* White text color for warning button */
}

/* Danger button style */
.btn-danger {
    background-color: #dc3545;
    color: #fff;
    /* White text color for danger button */
}

/* Hover effect for buttons */
.btn-primary:hover,
.btn-warning:hover,
.btn-danger:hover {
    opacity: 0.8;
    /* Reduce opacity on button hover */
}