<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="display-4">Oops..!</h2>
            <h3 class="mb-4">Sorry, You are trying to reach an invalid page...!</h3>
            <p><a href="/" class="btn btn-primary">Click here</a> to go to Homepage</p>
            <p>Have a nice Day...</p>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 text-center">
            <img src="http://4.bp.blogspot.com/-gdd8Nj5zNqg/T29ZjfvDjYI/AAAAAAAAAMw/vwwjnuqR1Ro/s320/404+error+page+6.jpg"
                class="img-fluid" alt="404 Error Image">
        </div>
    </div>
</div>